SmartContractor (1).json
{
  "name": "SmartContractor",
  "nodes": [
    {
      "parameters": {
        "tableId": "customer_requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Name",
              "fieldValue": "={{ $json['Full Name'] }} "
            },
            {
              "fieldId": "Customer_Email",
              "fieldValue": "={{ $json['Email Address'] }} "
            },
            {
              "fieldId": "Phone_No.",
              "fieldValue": "= {{ $json['Phone Number'] }}"
            },
            {
              "fieldId": "Home_Adress",
              "fieldValue": "= {{ $json['Street Address'] }}"
            },
            {
              "fieldId": "City",
              "fieldValue": "= {{ $json.City }}"
            },
            {
              "fieldId": "ZIP_Code",
              "fieldValue": "={{ $json['Zip Code'] }} "
            },
            {
              "fieldId": "contractor_type",
              "fieldValue": "= {{ $json['Service Type'] }}"
            },
            {
              "fieldId": "Issue_description",
              "fieldValue": "= {{ $json['Describe Your Issue'] }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }} "
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "id": "870524fb-e136-4b73-a1ae-3fd132bdf622",
      "name": "Save to customer_requests",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        -512
      ]
    },
    {
      "parameters": {
        "sendTo": "= {{ $json.Customer_Email }}",
        "subject": "Service Request Received - We are finding the best contractor for you",
        "emailType": "text",
        "message": "=Dear  {{ $json.Name }},\n\nThank you for submitting your service request. We have received it, and our AI system has analyzed the issue.\n\n{{ $json.summary }} \n\nWe are now connecting you with the most suitable contractors. You will receive a confirmation once a contractor accepts your request.\n\nBest regards,\nService Team",
        "options": {}
      },
      "id": "20e9ea79-85a9-488a-bedb-7bbe7dfda269",
      "name": "Send Customer Acknowledgment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        432
      ],
      "webhookId": "84065834-6039-4030-9eff-deefbeecbb73",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contractors",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "contractor_type",
              "condition": "gte",
              "keyValue": "= {{ $('Workflow Configuration').item.json['Service Type'] }}"
            }
          ]
        }
      },
      "id": "1423e645-a65f-47a5-85b0-8cd9dc0da80b",
      "name": "Find Matching Contractors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        432
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contractors = $input.all();\n\ncontractors.sort((a, b) => {\n  const scoreA = (a.json.rating || 0) * 0.6 + (a.json.experience_years || 0) * 0.4;\n  const scoreB = (b.json.rating || 0) * 0.6 + (b.json.experience_years || 0) * 0.4;\n  return scoreB - scoreA;\n});\n\nreturn contractors.slice(0, 3).map(c => ({ json: c.json }));"
      },
      "id": "2c051c3f-38af-4424-b77d-2d7c3d025239",
      "name": "Rank Contractors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        432
      ]
    },
    {
      "parameters": {
        "sendTo": "=jamsalahudin@gmail.com",
        "subject": "New Service Request Available - Action Required",
        "emailType": "text",
        "message": "= Hello Tyson,\n \nA new service request is available that matches your skills.\n\nService Type: Carpenter\n\nCustomer Name: Salahuddin Ayubi\n\nContact Info: 1234556770\n\nCustomer Issue: The image shows a close-up of a worn and possibly rusted door handle and lock mechanism. It does not depict any ducts or HVAC components\n \n\n Adress: ABCDE \n\n Preferred Date & Time: 2025-12-17 9:00 AM \n\n contractor Id= {{ $json.id }}\n \nrequest Id=  60\n\nClick the link below to accept or reject the offer.\n\nhttps://prompt-partner-connect.lovable.app/contractor-response\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "3dc0eb78-03be-4d4e-a842-bfc04f3382b3",
      "name": "Notify Contractors via Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        432
      ],
      "webhookId": "69dff67a-63c5-4acf-bd62-87726cd705a0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "= {{ $json.body.response }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f002011-88d6-4a7a-87c8-9fe322faf71c",
      "name": "Check Contractor Acceptance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        848
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customer_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "= {{ $json.body.requestId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "assigned_contractor",
              "fieldValue": "= {{ $json.body.contractorName }}assigned to Job"
            },
            {
              "fieldId": "status",
              "fieldValue": "= {{ $json.body.response }}"
            },
            {
              "fieldId": "Contractor_Email",
              "fieldValue": "={{ $json.body.email }} "
            }
          ]
        }
      },
      "id": "55ef2af4-0ab7-4535-9e85-af2ecb82c8a1",
      "name": "Update Request Status to Scheduled",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        864
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "= {{ $json.Customer_Email }}",
        "subject": "Your Service Request is Confirmed!",
        "emailType": "text",
        "message": "= Great news! Our contractor has accepted your service request and will arrive at your preferred time. We will send you a reminder 30 minutes before the scheduled time. \n\nContractor Name:  Tyson\nContractor Email: tyson@email.com\nPhone Number: +19234567890\n\nService Type:{{ $json.contractor_type }}\n\nContractor ID: 31",
        "options": {}
      },
      "id": "426ec5b9-71a8-4161-9a92-c6a109c81910",
      "name": "Send Customer Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        736
      ],
      "webhookId": "68e01021-6246-4fa5-b32b-c9fdb4f65d0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jobsc903@gmail.com",
        "subject": "Service Request Confirmed - Job Details\n\n",
        "emailType": "text",
        "message": "= Thank you for accepting this service request. Job details have been confirmed. You will receive a reminder 30 minutes before the scheduled time. \n\nRequired Service Type:{{ $('Update Request Status to Scheduled').item.json.contractor_type }}\n\nIssue Details: {{ $('Update Request Status to Scheduled').item.json.summary }}",
        "options": {}
      },
      "id": "a75e00fd-4b9a-4d00-b20e-30c3a7338450",
      "name": "Send Contractor Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        976
      ],
      "webhookId": "712d5105-ce2d-4704-a10b-94205f81ef5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2acb7fc5-afe9-4893-a933-ab11f64e37dc",
      "name": "Check for Upcoming Jobs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        928,
        1024
      ]
    },
    {
      "parameters": {
        "sendTo": "= {{ $json.Customer_Email }}",
        "subject": "Reminder: Your Service Appointment is in 30 Minutes",
        "emailType": "text",
        "message": "=Dear {{ $json.Name }}! This is a reminder that your service appointment is scheduled in 30 minutes.  \n\nContractor Name: Tyson\nService:{{ $json.contractor_type }}\nDate & Time: 2025-12-25 10 AM\nContact No. : xyz",
        "options": {}
      },
      "id": "6a2824ba-4cdd-420c-8172-be7381e74247",
      "name": "Send Customer Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        864
      ],
      "webhookId": "1b277b1f-a144-4b05-8990-1408315563be",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jobsc903@gmail.com",
        "subject": "Reminder: Service Appointment in 30 Minutes",
        "emailType": "text",
        "message": "= Reminder: You have a service appointment in 30 minutes. \n\nCustomer Name: {{ $json.Name }} \nCutomer Problem: {{ $json.Issue_description }}\nCutomer Adress:{{ $json.Home_Adress }}  \nCustomer Contact No. :  XYZ",
        "options": {}
      },
      "id": "572b1ac8-b04d-47b6-bb44-08e3a73cf90f",
      "name": "Send Contractor Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        1216
      ],
      "webhookId": "287fa5d2-b210-4ee6-bbca-15ccb2118723",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "c3a19dc4-7360-401a-90a1-3398135b10ec",
      "name": "Check for Completed Jobs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        912,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customer_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "= 74"
            }
          ]
        }
      },
      "id": "689c690f-c9da-4af6-b666-e4b50aebeb77",
      "name": "Get Jobs Completed 1 Hour Ago",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        1504
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "= {{ $json.Contractor_Email }}",
        "subject": "Job Completion - Please Submit Details",
        "emailType": "text",
        "message": "= Please submit job completion details using this form: \n\n [LINK WILL BE INSERTED HERE]\n\nrequestId={{ $json.id }} ",
        "options": {}
      },
      "id": "f0d3564c-920d-4067-b7bd-63eb25d3166f",
      "name": "Send Contractor Completion Form",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        1504
      ],
      "webhookId": "bf8c5c58-5be5-41ec-a7d6-001ea0911ae7",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customer_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "= {{ $json.body.requestId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=  {{ $json.body.jobStatus }}"
            }
          ]
        }
      },
      "id": "b2a120c7-3e37-47e6-bbda-89da1094acfc",
      "name": "Update Job with Completion Details",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -496,
        1376
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "= {{ $json.Customer_Email }}",
        "subject": "Please Confirm Job Completion",
        "emailType": "text",
        "message": "= Your contractor has marked the job as complete. \n\nPlease confirm completion using this form: https://parlourish-diana-subjudicial.ngrok-free.dev/form-test/88721133-77e8-4a13-9da4-7b43e0d465d8\n\nrequestId= {{ $json.id }} ",
        "options": {}
      },
      "id": "19d7bc97-9afb-4b3d-a0d5-d049b8bcc699",
      "name": "Request Customer Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        64,
        1248
      ],
      "webhookId": "0891b52a-720f-4f5f-bd62-222a23ce5ec9",
      "credentials": {
        "gmailOAuth2": {
          "id": "xCoG3VeEdqB48BUC",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "tableId": "job_completion",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Customer Feedback",
              "fieldValue": "=  {{ $json['Feedback (Optional)'] }}"
            },
            {
              "fieldId": "contractor_id",
              "fieldValue": "={{ $json['Contractor Id'] }} "
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.submittedAt }}"
            },
            {
              "fieldId": "Job Satisfaction",
              "fieldValue": "={{ $json['Job Completed Satisfactorily?'] }}"
            },
            {
              "fieldId": "request_id",
              "fieldValue": "={{ $json['Request ID'] }}"
            }
          ]
        }
      },
      "id": "7025ee4f-4ab7-4e69-95e0-2c9a82105472",
      "name": "Mark Job as Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -512,
        1648
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-2",
              "name": "issueSummary",
              "value": "={{ $json.output[0].content[0].text }} ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "433b382e-5396-40fa-8563-a94441adda7c",
      "name": "Merge AI Analysis Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Contractor Response\n ",
        "height": 480,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        688
      ],
      "typeVersion": 1,
      "id": "9d66fbb0-85cf-4f0a-b848-2fa938e91aed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## REQUEST-INTAKE",
        "height": 1168,
        "width": 3152
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -560
      ],
      "typeVersion": 1,
      "id": "cedf77e0-79e8-433c-99bf-179d8af34c9c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Job Completion",
        "height": 688,
        "width": 1504,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        1200
      ],
      "typeVersion": 1,
      "id": "7c1aedc7-cfd3-41dc-9b69-97b0b10e8384",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Scheduled Reminders",
        "height": 1200,
        "width": 1552,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        688
      ],
      "typeVersion": 1,
      "id": "78b01a49-cc61-4c65-b2d4-500a64ad36cf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b4f8600-b63d-4431-b258-e9ec53ef402b",
              "name": "Full Name",
              "value": "={{ $json.body.fullName }} ",
              "type": "string"
            },
            {
              "id": "dd202ff4-cac4-4f9f-a689-35ccb9a7494a",
              "name": "Email Address",
              "value": "={{ $json.body.email }} ",
              "type": "string"
            },
            {
              "id": "9207d70b-a8f8-4977-ae45-fca400444318",
              "name": "Phone Number",
              "value": "={{ $json.body.phone }} ",
              "type": "string"
            },
            {
              "id": "211f71fd-df04-4893-aec0-5c4b197f2929",
              "name": "Street Address",
              "value": "={{ $json.body.streetAddress }} ",
              "type": "string"
            },
            {
              "id": "0fe1ec7c-3e25-4b3e-b870-e75052ea8382",
              "name": "City",
              "value": "={{ $json.body.city }} ",
              "type": "string"
            },
            {
              "id": "c5e241d1-86af-46f3-91b4-5ce835014439",
              "name": "Zip Code",
              "value": "={{ $json.body.zipCode }} ",
              "type": "string"
            },
            {
              "id": "c0ea3cd7-ad22-426b-8be4-739b10a8a63f",
              "name": "Service Type",
              "value": "={{ $json.body.serviceCategory }} ",
              "type": "string"
            },
            {
              "id": "0aae510e-e14d-44cb-9841-2621823d8531",
              "name": "Describe Your Issue",
              "value": "={{ $json.body.issueDescription }} ",
              "type": "string"
            },
            {
              "id": "2649946b-9d4e-4af5-91a1-cdf8d27ff05d",
              "name": "Preferred Date & Time",
              "value": "={{ $json.body.preferredDate }} {{ $json.body.preferredTime }}",
              "type": "string"
            },
            {
              "id": "ec77fe8f-b85a-4c87-849c-2de70d4e09a7",
              "name": "image file name",
              "value": "= image.jpeg",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6336333b-c2ed-459b-888f-af63a9bf7b6a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -352
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "=https://Paste_Your_Project_Id_Here.supabase.co/storage/v1/object/public/Imagefiles/{{ $('Workflow Configuration').item.json['image file name'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "5f06264e-2fcd-498a-99f3-ae6f061aa5a0",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TRIGGERS\n ",
        "height": 944,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        176
      ],
      "typeVersion": 1,
      "id": "59d29b86-6e36-4c20-92e6-b2f0bd33bc56",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://YourProjectIdHere.supabase.co/storage/v1/object/Imagefiles/{{ $json['image file name'] }}  ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_SECRET_ROLE_KEY_HERE"
            },
            {
              "name": "apikey",
              "value": "YOUR_API_KEY_HERE"
            },
            {
              "name": "content-type",
              "value": " image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "issueImage",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -240
      ],
      "id": "9468deb4-8301-4ad0-8351-700d04304f15",
      "name": "Upload Problem image",
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Customer_request_form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        304
      ],
      "id": "eb6010f3-bce8-43b2-804d-4dfdc622b4a2",
      "name": "Customer Request",
      "webhookId": "2668907f-cd31-4453-ba51-f838068bc72b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contractor_response",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        512
      ],
      "id": "655b60f8-c4a7-40bb-9f52-4aa6f35fdc33",
      "name": "Contractor Response",
      "webhookId": "2668907f-cd31-4453-ba51-f838068bc72b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job_completion_by_contractor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        720
      ],
      "id": "8f6ba5ee-7aab-4fb0-bc2b-927337058888",
      "name": "Job Completion by Contractor",
      "webhookId": "2668907f-cd31-4453-ba51-f838068bc72b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "completion_confirmation_by_customer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        928
      ],
      "id": "266df08e-d03f-4457-ab46-161dd0815308",
      "name": "Completion confirmation",
      "webhookId": "2668907f-cd31-4453-ba51-f838068bc72b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        432
      ],
      "id": "6e86f934-9813-4ad2-8dab-39f7b577ff48",
      "name": "Respond to Request Submission"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "795753c4-dc15-4f2b-bdba-6bfe2ebb4901",
              "leftValue": "=In Process",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        1376
      ],
      "id": "e84736ef-dd59-4e2c-bca3-2859c1887cb0",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KuxNY8tjfPGIHPjj",
          "mode": "list",
          "cachedResultUrl": "/workflow/KuxNY8tjfPGIHPjj",
          "cachedResultName": "SmartContractor Invoice Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -256,
        1648
      ],
      "id": "dcd7a768-4607-4ed6-bee8-c41ff6044bc9",
      "name": "Call 'Automated Invoice Generator'"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        1248
      ],
      "id": "a0a0a9c7-41c8-43e9-91ec-8b5d6faeceb5",
      "name": "Respond to Contractor Response1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -16,
        1648
      ],
      "id": "cca11ad3-83aa-4ef0-84ad-26d339884e16",
      "name": "Respond to Contractor Response2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Workflow Configuration').item.json['Describe Your Issue'] }} ",
        "inputType": "base64",
        "options": {
          "detail": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        320,
        32
      ],
      "id": "87832477-0671-43ae-bd53-f49a353fc687",
      "name": "Analyze image"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=  {{ $json['0'].content[0].text }}"
            },
            {
              "role": "system",
              "content": "You are an AI summarization agent.\n\nYour task is to summarize the given image analysis report text only.\n\nFollow these rules strictly:\n\nUse only the information clearly written in the image analysis report text.\n\nDo not guess, assume, or add any new details.\n\nDo not provide advice, fixes, solutions, or opinions.\n\nDo not explain beyond what is already mentioned.\n\nThe summary must only brief what was analyzed and observed in the image.\n\nWrite in simple, basic English that an 8th grade student can easily understand.\n\nKeep the summary short, clear, and human-written.\n\nDo not use stars (*) or hash (#) symbols anywhere in the response.\n\nDo not use headings, bullet points, or formatting symbols.\n\nIf information is missing in the report, do not fill the gap. Only summarize what exists.\n\nOutput only the final summary text and nothing else."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "Don't use additional sentences, such as:\n\n1. The text discusses\n2. In image analysis report\n3. Image shows that\n\nJust simply summarize the analysis text. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        544,
        -48
      ],
      "id": "a0fa117d-0d0d-442d-bdcb-11e024bc4ff3",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "aDnobIJIkDcmjQiC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customer_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Save to customer_requests').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output[0].content[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        432
      ],
      "id": "89941881-7d6f-464c-a162-998bb81cd546",
      "name": "Update request with summary",
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        864
      ],
      "id": "ed9fd318-6291-4e28-883b-1b0608ae2f58",
      "name": "Respond to Contractor Response"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customer_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "74"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        1024
      ],
      "id": "44345810-f6f9-43a7-a7c3-c8886a895da1",
      "name": "Get Jobs Starting in 30 min",
      "credentials": {
        "supabaseApi": {
          "id": "ImMrbKV9ZNipCVtl",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge AI Analysis Results": {
      "main": [
        [
          {
            "node": "Update request with summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Acknowledgment": {
      "main": [
        [
          {
            "node": "Find Matching Contractors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Contractors": {
      "main": [
        [
          {
            "node": "Rank Contractors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Contractors": {
      "main": [
        [
          {
            "node": "Notify Contractors via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Contractors via Email": {
      "main": [
        [
          {
            "node": "Respond to Request Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contractor Acceptance": {
      "main": [
        [
          {
            "node": "Update Request Status to Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Request Status to Scheduled": {
      "main": [
        [
          {
            "node": "Send Contractor Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Customer Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Contractor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Upcoming Jobs": {
      "main": [
        [
          {
            "node": "Get Jobs Starting in 30 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Reminder": {
      "main": [
        []
      ]
    },
    "Check for Completed Jobs": {
      "main": [
        [
          {
            "node": "Get Jobs Completed 1 Hour Ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs Completed 1 Hour Ago": {
      "main": [
        [
          {
            "node": "Send Contractor Completion Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job with Completion Details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to customer_requests": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Save to customer_requests",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Problem image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job as Completed": {
      "main": [
        [
          {
            "node": "Call 'Automated Invoice Generator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contractor Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Contractor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Problem image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Customer Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Contractor Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Request": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contractor Response": {
      "main": [
        [
          {
            "node": "Check Contractor Acceptance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Completion by Contractor": {
      "main": [
        [
          {
            "node": "Update Job with Completion Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion confirmation": {
      "main": [
        [
          {
            "node": "Mark Job as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Request Customer Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Automated Invoice Generator'": {
      "main": [
        [
          {
            "node": "Respond to Contractor Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge AI Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update request with summary": {
      "main": [
        [
          {
            "node": "Send Customer Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Contractor Response": {
      "main": [
        []
      ]
    },
    "Get Jobs Starting in 30 min": {
      "main": [
        [
          {
            "node": "Send Customer Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Contractor Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d64bf768-f1fa-4448-9241-ad8f82d0a02e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c00e56eea381fd7ecd61f76c4292f5be5d507cdd25afea0257694b364bb88ba"
  },
  "id": "3AwVE1FR61Ut5n7g",
  "tags": []
}